<div class="content-container container">
  <div class="new-company-container">
    <h1>Add your company</h1>
    <%= simple_form_for @company do |f| %>
      <%= f.input :name, label: "name" %>
      <%= f.submit %>
    <% end %>

  </div>
</div>