/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require bootstrap
 * require jquery
 */

 @import "bootstrap/scss/bootstrap";
 @import 'navbar';
 @import 'index';
 @import 'show';
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Varela+Round&display=swap');

 // global styles

h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela Round', sans-serif;
}
h1 {
  font-weight: 900;
}
p, a {
  font-family: 'Montserrat', sans-serif;
}
body {
  height: 100%;
  width: 100%;
}
.grid-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "navbar"
  "content"
  "footer";
  grid-template-rows: 244px auto 15px;
  img {
    padding: 16px;
  }
}

.content {
  z-index: 0;
  background-color: transparent;
}

.footer {
  content: "";
  background-color: #514CC7;
}
